@font-face {
    font-family: 'Metropolis';
    src: url(../css/fonts/Metropolis-Regular.otf);
    style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Metropolis Bold';
    src: url(../css/fonts/Metropolis-Bold.otf);
    style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Metropolis Semi-Bold';
    src: url(../css/fonts/Metropolis-SemiBold.otf);
    style: normal;
    font-weight: 600;
}