// Core Colors
$primary-color: #0D9488;
$secondary-color: #14B8A6; 
$neutral-color: #FAFAFA; 
$natural-color: #111827;

// // Theme Colors
$main-background-color: $neutral-color;
$main-background-text-color: $primary-color;
$sticky-header-primary-background: $primary-color;
$sticky-header-secondary-background: $secondary-color;

$heading-title-color: $secondary-color;
$heading-second-title-color: $primary-color;
$heading-sub-title-color: $primary-color;

$nav-menu-color: $neutral-color;
$nav-menu-hover-color: $primary-color;

$sub-menu-color: $primary-color;
$sub-menu-hover-color: $secondary-color;
$sub-menu-background-color: $neutral-color;

$cart-alert-color: $secondary-color;

$header-button-color: $primary-color;
$header-button-text-color: $neutral-color;
$header-button-hover-color: $secondary-color;
$header-button-text-hover-color: $neutral-color;

$button-primary-color: $primary-color;
$button-secondary-color: $secondary-color;
$button-primary-text-color: $neutral-color;
$button-secondary-text-color: $neutral-color;

// content items hover
$cih-primary-color: $secondary-color;
$cih-secondary-color: $primary-color;
$cih-primary-text-color: $primary-color;
$cih-secondary-text-color: $neutral-color;

$footer-background-color: $primary-color;
$footer-text-color: $neutral-color;
$footer-text-hover-color: $neutral-color;

$copyright-section-color: $secondary-color;
$copyright-section-text-color: $neutral-color;

$faq-icon-color: $primary-color;

$contact-anchor-hover-color: $secondary-color;
$form-border-focus-color: $secondary-color;

$checkout-summary-edit-button-color: $secondary-color;
$checkout-summary-heading-color: $primary-color;

$order-id-color: $secondary-color;
$gold-star-color:#FAA21C;
